*{
    padding: 0;
    margin: 0;
}

.nomes{
    text-align: center;
}
.main__nome{
    padding: 50px;
    font-size: 30px;
    color: #008B8B	;
}
.main_texto{
    font-size: 20px;
    padding: 8px;

}
