@import url('./modelosCultivos.css');
@import url('./sobreNos.css');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap%27');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#66CDAA;
    font-family: 'Krona One', sans-serif;;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:ghostwhite   ;
    border-bottom: solid 3px darkcyan;;
   
}
.cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    align-items: center;
    
}
.cabecalho__texto{
    text-decoration: none;
    font-weight:bold;
    font-size: 18px;
    color:#5F9EA0;
    padding: 2% 3.2%;
    font-family:'Krona One', sans-serif; 
}
.cabecalho_logo{
    width: 20%;
    display: block
}
.cabecalho__texto:hover{
    color: #2F4F4F;
    background-color:#90EE90;
    border-radius: 15px;
}
.imagem{
    width: 40%;
    border-radius: 5px;
    border: solid 2px #5F9EA0;
}


.container{
    display: flex;
    align-items: center;
    margin:4.5em  9em  ;
}
.container__descricao{
    padding: 15%;
}
.descricao_titulo{
    font-family:'Krona One', sans-serif; 
    font-weight:500;
    font-size: 35px;
    color: white;
    margin: 0.4em;
}
.descricao_texto{
    font-size: 20px;
    font-family:'Krona One', sans-serif;
    color: white;
    margin: 0.4em;
}
.subtitulo{
    color: gray;
}
.container__descricao2{
    padding: 10% ;
}
.imagem2{
    border-radius: 5px;
    width: 40%;
}
.descricao_titulo:hover{
    color: #008B8B;

}
.rodape__rm{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.rodape{
    text-align: center;
    background-color:ghostwhite;
    border-top: solid 3px darkcyan;;
}
.rodape_titulo{
    font-size: 25px;
    color: #5F9EA0;
    padding: 15px;
}
.rodape__item{
    font-size: 20px;
    padding: 15px;
}
.rodepe_texto{
    font-size: 25px;
}
/* BREAKPOINT DO CABEÇALHO */ 
@media(max-width:1088px){
    .cabecalho{
        flex-direction: column;
        background-color: black;
    }
    .cabecalho nav{
        flex-wrap: nowrap;
    }
    .cabecalho__texto{
        color: white;
        font-size: 10px;
    }
}

/* BREAKPOINT DO CABEÇALHO */



/* BREAKPOINT DO MAIN */
@media (max-width:820px){
    .container{
        flex-direction: column;
        text-align: center;
        margin: 2em 2em;
    }
    .imagem{
        width: 66%;
    }
    .secundario{
        flex-direction: column-reverse;
        text-align: center;
    }
    .imagem2{
        width: 69%;
    }
     .secundaria{
        width: 75%;
     }
}

/* BREAKPOINT DO MAIN */


/* BREAKPOINT DO RADAPE */
@media (max-width:772px){
    .rodape__rm{
        flex-direction: column;
    }
    
}